<%= form_for(@banque_carrefour_entreprise) do |f| %>
  <% if @banque_carrefour_entreprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banque_carrefour_entreprise.errors.count, "error") %> prohibited this banque_carrefour_entreprise from being saved:</h2>

      <ul>
      <% @banque_carrefour_entreprise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entreprise_number %><br />
    <%= f.text_field :entreprise_number %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :juridical_situation %><br />
    <%= f.text_field :juridical_situation %>
  </div>
  <div class="field">
    <%= f.label :type_of_entreprise %><br />
    <%= f.text_field :type_of_entreprise %>
  </div>
  <div class="field">
    <%= f.label :juridical_form %><br />
    <%= f.text_field :juridical_form %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
